# ----------------------------
# Gradle build folders
# ----------------------------
.gradle/
*/build/
build/

# ----------------------------
# Archivos ignorables de Android Studio
# ----------------------------
.idea/
*.iml
*.iws

# ----------------------------
# Salidas de build y binarios
# ----------------------------
*.apk
*.ap_
*.dex
*.class
*.jar
*.aar

# ----------------------------
# Logs y temporales
# ----------------------------
*.log
*.tmp

# ----------------------------
# Archivos de configuración local
# ----------------------------
local.properties

# ----------------------------
# Sistema operativo
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Llaves (si usas firmados locales)
# ----------------------------
*.jks
*.keystore

# ----------------------------
# ¡NO ignores estos! (Gradle Wrapper)
# (Asegúrate de incluirlos en Git)
# gradlew
# gradlew.bat
# gradle/wrapper/gradle-wrapper.properties
# gradle/wrapper/gradle-wrapper.jar

*.mp4
*.avi
*.zip
*.tar.gz
*.rar
*.7z
*.bak

# ----------------------------
# Archivos lock de Gradle u otros
# ----------------------------
*.lock
